<div class="social-icons">

<a class="social-icon" href="https://twitter.com/00jknight/" target="_blank">
	{%- include svg/twitter.svg -%}
</a>

<a class="social-icon" href="https://github.com/jknightdoeswork" target="_blank">
	{%- include svg/github.svg -%}
</a>

<a class="social-icon" href="https://reddit.com/u/00jknight" target="_blank">
	{%- include svg/reddit.svg -%}
</a>

<a class="social-icon" href="https://ko-fi.com/00jknight" target="_blank">
	{%- include svg/ko-fi.svg -%}
</a>

</div>
