<div class="social-icons">

<a href="https://twitter.com/00jknight/" target="_blank">
	<img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" />
</a>

<a href="https://github.com/jknightdoeswork" target="_blank">
	<img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
</a>

<a href="https://ko-fi.com/00jknight" target="_blank">
	<img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/ko-fi.svg" />
</a>

<a href="https://www.patreon.com/00jknight" target="_blank">
	<img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/patreon.svg" />
</a>

<a href="https://reddit.com/u/00jknight" target="_blank">
	<img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/reddit.svg" />
</a>

<a href="mailto:00jknight@gmail.com" target="_blank">
	<img class="social-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gmail.svg" />
</a>

</div>
