<form action="https://games.us19.list-manage.com/subscribe/post?u=189fc0e3be767a3e149d2f93e&amp;id=95bbdd86be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_189fc0e3be767a3e149d2f93e_95bbdd86be" tabindex="-1" value=""></div>
    <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>